form {
  input[type='checkbox'] {
    width: 16px;
    margin-right: 12px;
    cursor: pointer;
  }
}

.cart {
  gap: 10px;
  padding: 0;
  list-style: none;

  button {
    width: 48px;
    height: 28px;
    margin: 0 4px;
    padding: 4px;
  }
}

.cart-item {
  display: flex;
  padding: 10px;
  align-items: center;

  & + & {
    border-top: 1px solid rgb(from var(--darkgreen) r g b / 40%);
  }

  input {
    width: 30px;
    height: 18px;
    border: 1px solid var(--darkgreen);
    border-radius: 4px;
    background-color: rgb(from var(--darkgreen) r g b / 10%);
    padding: 4px;
    margin: 0 0;
  }

  &__image {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  &__title-price {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-grow: 3;
    margin: 0 12px;
    & > p {
      margin: 0;
    }
  }
  &__title {
    font-weight: bold;
    flex: 1 1 200px;
  }
  &__price {
  }
  &__amount {
  }

  &__delete-msg {
    color: red;
    left: calc(50% - (87px / 2));
    top: 60px;
    position: absolute;
  }

  .cart_amount-button {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
  }
}

.cart-willpay {
  padding: 10px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    @media (max-width: 680px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--darkgreen);
    background: rgba(whitesmoke, 90%);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    box-shadow: 4px 4px 4px 0px rgb(from var(--darkgreen) r g b / 50%);

    .cart-item__title {
      display: block;
      width: 100%;
      font-weight: bold;
      font-size: 16px;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > p {
      margin: 2px 12px;
    }
  }

  img {
    width: 100px;
    height: 75px;
    object-fit: contain;
  }

  .cart-willpay__confirm {
    display: flex;
    flex-direction: column;
    align-items: end;

    p {
      font-size: 20px;
      font-weight: bold;
    }

    button {
      width: fit-content;
      height: fit-content;
      margin-left: 12px;
      padding: 4px 8px;
    }
  }
}

// 토스 페이먼츠
#payment-widget {
  border-radius: 4px;
}
